
.rooo{background-color:black; }
.ytyp{background-color:#C1C1C1; margin-bottom:4px;}
.gyt{font-size:18px; color: white; }
.grop{margin-top: 17px;}
.frtoi{color:white; font-size: 10px;}
.frew{color:white;}
.ooo{background-color: blue; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo1{background-color:#1DA1F2; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo1:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo2{background-color:red; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; } 
.ooo2:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo3{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }                          
.grop5{margin-top: 12px;}
.hhhh{margin-top:20px;}
.tttt{font-size:18px; color:blue; font-weight:600; margin-left:15px;}
.mmmm{margin-top:90px;}
.eeeee ul li a{font-size: 15px; font-weight:600; color:white;
   padding-left:20px; padding-bottom: 4px; padding-top: 4px; background-color:rgba(0,0,0,0.6); padding-right:20px;}

.uuuu{font-weight:700; color:blue;}
.ooooo{color:blue; font-weight:900; margin-left: 30px;}
.gggg{font-size:40px; font-weight:600; color:#A03153;}
.jjjj{font-size:40px; font-weight:600; color:black;}
.uuyy{margin-top: -18px; margin-left:48%;}
.gtry{font-weight: 700; color:white; margin-left:25px;}
.fr{margin-left: 30px; background-color: red; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}
.fr:hover{margin-left: 30px; background-color: blue; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}   
.ap{color:white;}  
.wqr{margin-left:62px; color:black; font-weight: 600; } 
.gggg1{font-size:30px; font-weight:600; color:#A03153;}
.jjjj1{font-size:30px; font-weight:600; color:black;} 
.mop{background:url(../images/6579.jpg)no-repeat center 0px;  background-size:cover;
 height:800px; margin-top:0px; }

 .dddooo{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo:hover{background:url(../images/b2.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo1{background:url(../images/b3.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo1:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo2{background:url(../images/b5.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo2:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 .dbo{margin-top:20px; }


.dddooo3{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo3:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo4{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo4:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo5{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo5:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 
.oooo51{margin-left: 23%; margin-top: -15px;}

.wwwwq{background:url(../images/.jpg)no-repeat center 0px;  background-size:cover;
 height:580px; margin-top:0px; }

.works_item .ooouu{color: white; font-weight: 500;}

.dewr{margin-top: 20px;}


   

.progress-bar {
  background-color: #1a1a1a;
  height: 25px;
 
  width: 100%;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 margin-top: 20px;
 
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  background-color: #777;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  
  -webkit-transition: .4s ease-in-out;
  -moz-transition:  .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition:  .4s ease-in-out;
  transition:  .4s ease-in-out;
}

/*---------------------------*/        
      

.blue span { background-color: #34c2e3; }

.orange span {
  background-color: #fecf23;

}

.green span {
  background-color: #a5df41;

}

/*---------------------------*/     
      

.stripes span {


  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}
 @-webkit-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position:0px 0;
}
}
 @-moz-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position: 1px 0;
}
}

/*---------------------------*/   


.shine span { position: relative; }

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: animate-shine 2s ease-out infinite;
  -moz-animation: animate-shine 2s ease-out infinite;
}
 @-webkit-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 0;
width:100%;
}
}
 @-moz-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
0% {
opacity: .5;
}
 0% {
opacity: 0;
width:100%;
}
}

/*---------------------------*/   
      

.glow span {


}

.gggg3{font-size:45px; font-weight:600; color:#A03153;}
.ppppbbb{color:#34C2E3; font-weight: 700;}
.ppppbbb1{color:#FED231; font-weight: 700;}
.ppppbbb2{color:#A5DF41; font-weight: 700;}

.baauukkk{background:url(../images/kon.jpg)no-repeat center 0px;  background-size:cover;
 height:600px; margin-top:0px;  }
.gggg34{font-size:40px; font-weight:600; color:#A03153; margin-top: 45px;}
.nnnnop{margin-top:-2px;}
.opre i{color:red; font-size:30px;}

.vippp{border-radius: 60%; border:3px solid red; transition: 1s;}

.vippp:hover{border-radius: 60%; border:3px solid blue; transform: rotateZ(360deg);}

.vippp1{border-radius: 60%; border:3px solid yellow; transition: 1s;}

.vippp1:hover{border-radius: 60%; border:3px solid black; transform: rotateY(360deg);}

.vippp2{border-radius: 60%; border:3px solid green; transition: 1s;}

.vippp2:hover{border-radius: 60%; border:3px solid #A03153; transform:rotateX(60deg);}
.wxc{font-size:45px; font-weight: 700; color: red;}

footer{background-color: black; height:250px; margin-top: 30px;}
.zxzxz{color:red; font-weight: 600; margin-top: 10px;}
.hhkk li { color:white; padding-top:5px;}
.hhkk li a{ color:white; }
.hhkk li a:hover{ color:blue; }
.xde{color:white;}
.treee{background:url(../images/w1.jpg)no-repeat center 0px;  background-size:cover;
 height:620px; margin-top:0px;  }
 .gggg9{font-size:45px; font-weight:600; color:#A03153; }

h1 {
    -webkit-text-shadow: 1px 2px #dadada;
       -moz-text-shadow: 1px 2x #dadada;
            text-shadow: 1px 2px #dadada;s
    margin-bottom: 20px;
}

.tlink {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

a.tlink:hover {
    text-decoration: none;
}

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.githubpage {
    font-size: 20px;
    color: #222222;
}

ul.heapshot {
    margin-bottom: 140px;
}

.ffdp{margin-top: 40px;}
.vvvvpppp{background:url(../images/n2.jpg)no-repeat center 0px;  background-size:cover;
 height:660%; margin-top:0px;  }

.goph{margin-top: 20px;}

.juyt{border-radius: 60%;}

.kyaha{font-weight:600; font-size:40px; color:#A03153;}
.doll{color:red; font-size:60px; font-weight: 600;}
 
.chal{color:white; font-weight: 600; font-size: 20px;}

.jjjj12{font-size:30px; font-weight:600; color:red;}
.gggg12{font-size:30px; font-weight:600; color:green;}

.rem ul li{display: block;}   
.glyphicon{margin-right: 10px;
color: white; }
.ytyty{ color:#00ff00; }
.gdu1{font-weight: 520; font-size:18px; margin-bottom:10px; }
.gob{font-size: 25px;
font-weight: 600;
text-align: left;
margin-bottom: 20px;
color: #F44336;}

 @media(min-width:900px)and(max-width:1332px) {


.rooo{background-color:black; }
.ytyp{background-color:#C1C1C1; margin-bottom:4px;}
.gyt{font-size:18px; color: white; }
.grop{margin-top: 17px;}
.frtoi{color:white; font-size: 10px;}
.frew{color:white;}
.ooo{background-color: blue; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo1{background-color:#1DA1F2; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo1:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo2{background-color:red; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; } 
.ooo2:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo3{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }                          
.grop5{margin-top: 12px;}
.hhhh{margin-top:20px;}
.tttt{font-size:18px; color:blue; font-weight:600; margin-left:15px;}
.mmmm{margin-top:90px;}
.eeeee ul li a{font-size: 15px; font-weight:600; color:white;
   padding-left:20px; padding-bottom: 4px; padding-top: 4px; background-color:rgba(0,0,0,0.6); padding-right:20px;}

.uuuu{font-weight:900; color:red;}
.ooooo{color:red; font-weight:900; margin-left: 30px;}
.gggg{font-size:40px; font-weight:600; color:#A03153;}
.jjjj{font-size:40px; font-weight:600; color:black;}
.uuyy{margin-top: -18px; margin-left:48%;}
.gtry{font-weight: 700; color:white; margin-left:25px;}
.fr{margin-left: 30px; background-color: red; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}
.fr:hover{margin-left: 30px; background-color: blue; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}   
.ap{color:white;}  
.wqr{margin-left:62px; color:black; font-weight: 600; } 
.gggg1{font-size:30px; font-weight:600; color:#A03153;}
.jjjj1{font-size:30px; font-weight:600; color:black;} 
.mop{background:url(../images/6579.jpg)no-repeat center 0px;  background-size:cover;
 height:800px; margin-top:0px; }

 .dddooo{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo:hover{background:url(../images/b2.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo1{background:url(../images/b3.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo1:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo2{background:url(../images/b5.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo2:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 .dbo{margin-top:20px; }


.dddooo3{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo3:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo4{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo4:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo5{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo5:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 
.oooo51{margin-left: 23%; margin-top: -15px;}

.wwwwq{background:url(../images/.jpg)no-repeat center 0px;  background-size:cover;
 height:580px; margin-top:0px; }

.works_item .ooouu{color: white; font-weight: 500;}

.dewr{margin-top: 20px;}


   

.progress-bar {
  background-color: #1a1a1a;
  height: 25px;
 
  width: 100%;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 margin-top: 20px;
 
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  background-color: #777;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  
  -webkit-transition: .4s ease-in-out;
  -moz-transition:  .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition:  .4s ease-in-out;
  transition:  .4s ease-in-out;
}

/*---------------------------*/        
      

.blue span { background-color: #34c2e3; }

.orange span {
  background-color: #fecf23;

}

.green span {
  background-color: #a5df41;

}

/*---------------------------*/     
      

.stripes span {


  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}
 @-webkit-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position:0px 0;
}
}
 @-moz-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position: 1px 0;
}
}

/*---------------------------*/   


.shine span { position: relative; }

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: animate-shine 2s ease-out infinite;
  -moz-animation: animate-shine 2s ease-out infinite;
}
 @-webkit-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 0;
width:100%;
}
}
 @-moz-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
0% {
opacity: .5;
}
 0% {
opacity: 0;
width:100%;
}
}

/*---------------------------*/   
      

.glow span {


}

.gggg3{font-size:45px; font-weight:600; color:#A03153;}
.ppppbbb{color:#34C2E3; font-weight: 700;}
.ppppbbb1{color:#FED231; font-weight: 700;}
.ppppbbb2{color:#A5DF41; font-weight: 700;}

.baauukkk{background:url(../images/kon.jpg)no-repeat center 0px;  background-size:cover;
 height:600px; margin-top:0px;  }
.gggg34{font-size:40px; font-weight:600; color:#A03153; margin-top: 45px;}
.nnnnop{margin-top:-2px;}
.opre i{color:red; font-size:30px;}

.vippp{border-radius: 60%; border:3px solid red; transition: 1s;}

.vippp:hover{border-radius: 60%; border:3px solid blue; transform: rotateZ(360deg);}

.vippp1{border-radius: 60%; border:3px solid yellow; transition: 1s;}

.vippp1:hover{border-radius: 60%; border:3px solid black; transform: rotateY(360deg);}

.vippp2{border-radius: 60%; border:3px solid green; transition: 1s;}

.vippp2:hover{border-radius: 60%; border:3px solid #A03153; transform:rotateX(60deg);}
.wxc{font-size:45px; font-weight: 700; color: red;}

footer{background-color: black; height:250px; margin-top: 30px;}
.zxzxz{color:red; font-weight: 600; margin-top: 10px;}
.hhkk li { color:white; padding-top: 15px;}
.hhkk li a{ color:white; }
.hhkk li a:hover{ color:blue; }
.xde{color:white;}
.treee{background:url(../images/w1.jpg)no-repeat center 0px;  background-size:cover;
 height:620px; margin-top:0px;  }
 .gggg9{font-size:45px; font-weight:600; color:#A03153; }

h1 {
    -webkit-text-shadow: 1px 2px #dadada;
       -moz-text-shadow: 1px 2x #dadada;
            text-shadow: 1px 2px #dadada;
    margin-bottom: 20px;
}

.tlink {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

a.tlink:hover {
    text-decoration: none;
}

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.githubpage {
    font-size: 20px;
    color: #222222;
}

ul.heapshot {
    margin-bottom: 140px;
}

.ffdp{margin-top: 40px;}
.vvvvpppp{background:url(../images/n2.jpg)no-repeat center 0px;  background-size:cover;
 height:660%; margin-top:0px;  }

.goph{margin-top: 20px;}

.juyt{border-radius: 60%;}

.kyaha{font-weight:600; font-size:40px; color:#A03153;}
.doll{color:red; font-size:60px; font-weight: 600;}
 
.chal{color:white; font-weight: 600; font-size: 20px;}

.jjjj12{font-size:30px; font-weight:600; color:red;}
.gggg12{font-size:30px; font-weight:600; color:green;}

.rem ul li{display: block;}   
.glyphicon{margin-right: 10px;
color: white; }
.ytyty{ color:#00ff00; }
.gdu1{font-weight: 520; font-size:18px; margin-bottom:10px; }
.gob{font-size: 25px;
font-weight: 600;
text-align: left;
margin-bottom: 20px;
color: #F44336;}


 @media(min-width:700px)and(max-width: 900px){


.rooo{background-color:black; }
.ytyp{background-color:#C1C1C1; margin-bottom:4px;}
.gyt{font-size:18px; color: white; }
.grop{margin-top: 17px;}
.frtoi{color:white; font-size: 10px;}
.frew{color:white;}
.ooo{background-color: blue; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo1{background-color:#1DA1F2; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo1:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo2{background-color:red; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; } 
.ooo2:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo3{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }                          
.grop5{margin-top: 12px;}
.hhhh{margin-top:20px;}
.tttt{font-size:18px; color:blue; font-weight:600; margin-left:15px;}
.mmmm{margin-top:90px;}
.eeeee ul li a{font-size: 15px; font-weight:600; color:white;
   padding-left:20px; padding-bottom: 4px; padding-top: 4px; background-color:rgba(0,0,0,0.6); padding-right:20px;}

.uuuu{font-weight:700; color:red;}
.ooooo{color:red; font-weight:700; margin-left: 30px;}
.gggg{font-size:40px; font-weight:600; color:#A03153;}
.jjjj{font-size:40px; font-weight:600; color:black;}
.uuyy{margin-top: -18px; margin-left:48%;}
.gtry{font-weight: 700; color:white; margin-left:25px;}
.fr{margin-left: 30px; background-color: red; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}
.fr:hover{margin-left: 30px; background-color: blue; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}   
.ap{color:white;}  
.wqr{margin-left:62px; color:black; font-weight: 600; } 
.gggg1{font-size:30px; font-weight:600; color:#A03153;}
.jjjj1{font-size:30px; font-weight:600; color:black;} 
.mop{background:url(../images/6579.jpg)no-repeat center 0px;  background-size:cover;
 height:800px; margin-top:0px; }

 .dddooo{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo:hover{background:url(../images/b2.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo1{background:url(../images/b3.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo1:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo2{background:url(../images/b5.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo2:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 .dbo{margin-top:20px; }


.dddooo3{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo3:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo4{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo4:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo5{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo5:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 
.oooo51{margin-left: 23%; margin-top: -15px;}

.wwwwq{background:url(../images/.jpg)no-repeat center 0px;  background-size:cover;
 height:580px; margin-top:0px; }

.works_item .ooouu{color: white; font-weight: 500;}

.dewr{margin-top: 20px;}


   

.progress-bar {
  background-color: #1a1a1a;
  height: 25px;
 
  width: 100%;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 margin-top: 20px;
 
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  background-color: #777;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  
  -webkit-transition: .4s ease-in-out;
  -moz-transition:  .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition:  .4s ease-in-out;
  transition:  .4s ease-in-out;
}

/*---------------------------*/        
      

.blue span { background-color: #34c2e3; }

.orange span {
  background-color: #fecf23;

}

.green span {
  background-color: #a5df41;

}

/*---------------------------*/     
      

.stripes span {


  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}
 @-webkit-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position:0px 0;
}
}
 @-moz-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position: 1px 0;
}
}

/*---------------------------*/   


.shine span { position: relative; }

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: animate-shine 2s ease-out infinite;
  -moz-animation: animate-shine 2s ease-out infinite;
}
 @-webkit-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 0;
width:100%;
}
}
 @-moz-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
0% {
opacity: .5;
}
 0% {
opacity: 0;
width:100%;
}
}

/*---------------------------*/   
      

.glow span {


}

.gggg3{font-size:45px; font-weight:600; color:#A03153;}
.ppppbbb{color:#34C2E3; font-weight: 700;}
.ppppbbb1{color:#FED231; font-weight: 700;}
.ppppbbb2{color:#A5DF41; font-weight: 700;}

.baauukkk{background:url(../images/kon.jpg)no-repeat center 0px;  background-size:cover;
 height:600px; margin-top:0px;  }
.gggg34{font-size:40px; font-weight:600; color:#A03153; margin-top: 45px;}
.nnnnop{margin-top:-2px;}
.opre i{color:red; font-size:30px;}

.vippp{border-radius: 60%; border:3px solid red; transition: 1s;}

.vippp:hover{border-radius: 60%; border:3px solid blue; transform: rotateZ(360deg);}

.vippp1{border-radius: 60%; border:3px solid yellow; transition: 1s;}

.vippp1:hover{border-radius: 60%; border:3px solid black; transform: rotateY(360deg);}

.vippp2{border-radius: 60%; border:3px solid green; transition: 1s;}

.vippp2:hover{border-radius: 60%; border:3px solid #A03153; transform:rotateX(60deg);}
.wxc{font-size:45px; font-weight: 700; color: red;}

footer{background-color: black; height:250px; margin-top: 30px;}
.zxzxz{color:red; font-weight: 600; margin-top: 10px;}
.hhkk li { color:white; padding-top: 15px;}
.hhkk li a{ color:white; }
.hhkk li a:hover{ color:blue; }
.xde{color:white;}
.treee{background:url(../images/w1.jpg)no-repeat center 0px;  background-size:cover;
 height:620px; margin-top:0px;  }
 .gggg9{font-size:45px; font-weight:600; color:#A03153; }

h1 {
    -webkit-text-shadow: 1px 2px #dadada;
       -moz-text-shadow: 1px 2x #dadada;
            text-shadow: 1px 2px #dadada;
    margin-bottom: 20px;
}

.tlink {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

a.tlink:hover {
    text-decoration: none;
}

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.githubpage {
    font-size: 20px;
    color: #222222;
}

ul.heapshot {
    margin-bottom: 140px;
}

.ffdp{margin-top: 40px;}
.vvvvpppp{background:url(../images/n2.jpg)no-repeat center 0px;  background-size:cover;
 height:660%; margin-top:0px;  }

.goph{margin-top: 20px;}

.juyt{border-radius: 60%;}

.kyaha{font-weight:600; font-size:40px; color:#A03153;}
.doll{color:red; font-size:60px; font-weight: 600;}
 
.chal{color:white; font-weight: 600; font-size: 20px;}

.jjjj12{font-size:30px; font-weight:600; color:red;}
.gggg12{font-size:30px; font-weight:600; color:green;}

.rem ul li{display: block;}   
.glyphicon{margin-right: 10px;
color: white; }
.ytyty{ color:#00ff00; }
.gdu1{font-weight: 520; font-size:18px; margin-bottom:10px; }
.gob{font-size: 25px;
font-weight: 600;
text-align: left;
margin-bottom: 20px;
color: #F44336;}

@media(min-width: 280px)and(max-width: 700px){


.rooo{background-color:black; }
.ytyp{background-color:#C1C1C1; margin-bottom:4px;}
.gyt{font-size:18px; color: white; }
.grop{margin-top: 17px;}
.frtoi{color:white; font-size: 10px;}
.frew{color:white;}
.ooo{background-color: blue; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo1{background-color:#1DA1F2; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }
.ooo1:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo2{background-color:red; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; } 
.ooo2:hover{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }

.ooo3{background-color:#0177B5; font-size: 15px; color:white; 
      padding-left: 12px; padding-bottom:8px; padding-top: 8px; padding-right: 12px;
         border-radius: 60%; }                          
.grop5{margin-top: 12px;}
.hhhh{margin-top:20px;}
.tttt{font-size:18px; color:blue; font-weight:600; margin-left:15px;}
.mmmm{margin-top:90px;}
.eeeee ul li a{font-size: 15px; font-weight:600; color:white;
   padding-left:20px; padding-bottom: 4px; padding-top: 4px; background-color:rgba(0,0,0,0.6); padding-right:20px;}

.uuuu{font-weight:700; color:blue;}
.ooooo{color:blue; font-weight:700; margin-left: 30px;}
.gggg{font-size:40px; font-weight:600; color:#A03153;}
.jjjj{font-size:40px; font-weight:600; color:black;}
.uuyy{margin-top: -18px; margin-left:48%;}
.gtry{font-weight: 700; color:white; margin-left:25px;}
.fr{margin-left: 30px; background-color: red; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}
.fr:hover{margin-left: 30px; background-color: blue; padding-top:5px;
         padding-right: 15px; padding-left:15px; padding-bottom:5px; border-radius:70%;}   
.ap{color:white;}  
.wqr{margin-left:62px; color:black; font-weight: 600; } 
.gggg1{font-size:30px; font-weight:600; color:#A03153;}
.jjjj1{font-size:30px; font-weight:600; color:black;} 
.mop{background:url(../images/6579.jpg)no-repeat center 0px;  background-size:cover;
 height:800px; margin-top:0px; }

 .dddooo{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo:hover{background:url(../images/b2.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo1{background:url(../images/b3.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo1:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo2{background:url(../images/b5.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo2:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 .dbo{margin-top:20px; }


.dddooo3{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }

 .dddooo3:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

  .dddooo4{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}
 
 .dddooo4:hover{background:url(../images/b4.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;}

 .dddooo5{background:url(../images/b1.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%; }
 
 .dddooo5:hover{background:url(../images/b6.jpg)no-repeat center 0px;  background-size:cover;
 height:350px; margin-top:0px; border-radius: 18%;} 

 
.oooo51{margin-left: 23%; margin-top: -15px;}

.wwwwq{background:url(../images/.jpg)no-repeat center 0px;  background-size:cover;
 height:580px; margin-top:0px; }

.works_item .ooouu{color: white; font-weight: 500;}

.dewr{margin-top: 20px;}


   

.progress-bar {
  background-color: #1a1a1a;
  height: 25px;
 
  width: 100%;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 margin-top: 20px;
 
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  background-color: #777;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  
  -webkit-transition: .4s ease-in-out;
  -moz-transition:  .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition:  .4s ease-in-out;
  transition:  .4s ease-in-out;
}

/*---------------------------*/        
      

.blue span { background-color: #34c2e3; }

.orange span {
  background-color: #fecf23;

}

.green span {
  background-color: #a5df41;

}

/*---------------------------*/     
      

.stripes span {


  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}
 @-webkit-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position:0px 0;
}
}
 @-moz-keyframes 
animate-stripes {  0% {
background-position: 0 0;
}
100% {
background-position: 1px 0;
}
}

/*---------------------------*/   


.shine span { position: relative; }

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: animate-shine 2s ease-out infinite;
  -moz-animation: animate-shine 2s ease-out infinite;
}
 @-webkit-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 0;
width:100%;
}
}
 @-moz-keyframes 
animate-shine {  0% {
opacity: 0;
width: 0;
}
0% {
opacity: .5;
}
 0% {
opacity: 0;
width:100%;
}
}

/*---------------------------*/   
      

.glow span {


}

.gggg3{font-size:45px; font-weight:600; color:#A03153;}
.ppppbbb{color:#34C2E3; font-weight: 700;}
.ppppbbb1{color:#FED231; font-weight: 700;}
.ppppbbb2{color:#A5DF41; font-weight: 700;}

.baauukkk{background:url(../images/kon.jpg)no-repeat center 0px;  background-size:cover;
 height:600px; margin-top:0px;  }
.gggg34{font-size:40px; font-weight:600; color:#A03153; margin-top: 45px;}
.nnnnop{margin-top:-2px;}
.opre i{color:red; font-size:30px;}

.vippp{border-radius: 60%; border:3px solid red; transition: 1s;}

.vippp:hover{border-radius: 60%; border:3px solid blue; transform: rotateZ(360deg);}

.vippp1{border-radius: 60%; border:3px solid yellow; transition: 1s;}

.vippp1:hover{border-radius: 60%; border:3px solid black; transform: rotateY(360deg);}

.vippp2{border-radius: 60%; border:3px solid green; transition: 1s;}

.vippp2:hover{border-radius: 60%; border:3px solid #A03153; transform:rotateX(60deg);}
.wxc{font-size:45px; font-weight: 700; color: red;}

footer{background-color: black; height:250px; margin-top: 30px;}
.zxzxz{color:red; font-weight: 600; margin-top: 10px;}
.hhkk li { color:white; padding-top: 15px;}
.hhkk li a{ color:white; }
.hhkk li a:hover{ color:blue; }
.xde{color:white;}
.treee{background:url(../images/w1.jpg)no-repeat center 0px;  background-size:cover;
 height:620px; margin-top:0px;  }
 .gggg9{font-size:45px; font-weight:600; color:#A03153; }

h1 {
    -webkit-text-shadow: 1px 2px #dadada;
       -moz-text-shadow: 1px 2x #dadada;
            text-shadow: 1px 2px #dadada;
    margin-bottom: 20px;
}

.tlink {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

a.tlink:hover {
    text-decoration: none;
}

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.githubpage {
    font-size: 20px;
    color: #222222;
}

ul.heapshot {
    margin-bottom: 140px;
}

.ffdp{margin-top: 40px;}
.vvvvpppp{background:url(../images/n2.jpg)no-repeat center 0px;  background-size:cover;
 height:660%; margin-top:0px;  }

.goph{margin-top: 20px;}

.juyt{border-radius: 60%;}

.kyaha{font-weight:600; font-size:40px; color:#A03153;}
.doll{color:red; font-size:60px; font-weight: 600;}
 
.chal{color:white; font-weight: 600; font-size: 20px;}

.jjjj12{font-size:30px; font-weight:600; color:red;}
.gggg12{font-size:30px; font-weight:600; color:green;}

.rem ul li{display: block;}   
.glyphicon{margin-right: 10px;
color: white; }
.ytyty{ color:#00ff00; }
.gdu1{font-weight: 520; font-size:18px; margin-bottom:10px; }
.gob{font-size: 25px;
font-weight: 600;
text-align: left;
margin-bottom: 20px;
color: #F44336;}